@model IEnumerable<Wiskunde_App.Models.ApplicationUser>

@{
    ViewBag.Title = "overzichtadmins";
    Layout = "~/Views/Shared/_layoutsuper.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="@Url.Action("Dashboard", "Super")">Scholen</a></li>
                <li><a href="@Url.Action("VoegAdminUserToe", "Beheer")">Voeg schooladministrator toe</a></li>
                <li class="active"><a href="">Overzicht schooladministrators</a></li>
                <li><a href="@Url.Action("Accountwijzigen", "Super")">Account wijzigen</a></li>
            </ul>
        </div>
        <div class="col-md-9 well">
            <h1>Overzicht schooladministrators</h1>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Voornaam)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Familienaam)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SchoolID)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Voornaam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Familienaam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.school.Naam)
                        </td>
                        <td>
                            @Html.ActionLink("Wijzigen", "Wijzigadministrator", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Detailsadministrator", new { id = item.Id }) |
                            @Html.ActionLink("Verwijderen", "Deleteadministrator", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
</div>
</div>
</div>