@model IEnumerable<Wiskunde_App.Models.LeerkrachtSchoolKlas>

@{
    ViewBag.Title = "Leerkrachten";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="@Url.Action("Dashboard", "Admin")"><i class="fa fa-home fa-fw"></i>Home</a></li>
                <li><a href="@Url.Action("Klassen","Admin")"><i class="fa fa-list-alt fa-fw"></i>Klassen</a></li>
                <li class="active"><a href=""><i class="fa fa-file-o fa-fw"></i>Leerkrachten</a></li>
                <li><a href="@Url.Action("Leerlingen", "Admin")"><i class="fa fa-bar-chart-o fa-fw"></i>Leerlingen</a></li>
                <li><a href="@Url.Action("Wijzigwachtwoord", "Admin")"><i class="fa fa-table fa-fw"></i>Wijzig schooladministrator</a></li>
            </ul>
        </div>
        <div class="col-md-9 well">
            <h1>Leerkrachten</h1>

    <p>
        @Html.ActionLink("Voeg nieuwe leerkracht toe", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
               Familienaam leerkracht
            </th>
            <th>
                Voornaam Leerkracht
            </th>
            <th>
                Leerkracht wijzigen, verwijderen of details bekijken
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.leerkracht.FamilieNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.leerkracht.VoorNaam)
            </td>
            <td>
                @Html.ActionLink("Wijzig leerkracht", "EditLeerkracht", new { id=item.ID }) |
                @Html.ActionLink("Bekijk leerkrachtdetails", "DetailsLeerkracht", new { id=item.ID }) |
                @Html.ActionLink("Verwijder leerkracht", "DeleteLeerkracht", new { id=item.ID })
            </td>
        </tr>
    }

    </table>
        </div>
    </div>
</div>

