@model Wiskunde_App.Models.Leerling

@{
    ViewBag.Title = "Wijzig leerling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="@Url.Action("Dashboard", "Admin")"><i class="fa fa-home fa-fw"></i>Home</a></li>
                <li><a href="@Url.Action("Klassen","Admin")"><i class="fa fa-list-alt fa-fw"></i>Klassen</a></li>
                <li><a href="@Url.Action("Leerkrachten", "Admin")"><i class="fa fa-file-o fa-fw"></i>Leerkrachten</a></li>
                <li class="active"><a href=""><i class="fa fa-bar-chart-o fa-fw"></i>Leerlingen</a></li>
                <li><a href="@Url.Action("Wijzigwachtwoord", "Admin")"><i class="fa fa-table fa-fw"></i>Wijzig schooladministrator</a></li>
            </ul>
        </div>
        <div class="col-md-9 well">
            <h2>Wijzig leerling</h2>

            @using (Html.BeginForm("Wijzigleerling", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.ID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Voornaam, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Voornaam)
                            @Html.ValidationMessageFor(model => model.Voornaam)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Familienaam, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Familienaam)
                            @Html.ValidationMessageFor(model => model.Familienaam)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Klasnummer, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Klasnummer)
                            @Html.ValidationMessageFor(model => model.Klasnummer)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Klas", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                          <select name="klaskeuze">
                            @foreach (var item in Model.klassen)
                            {
                                <option id="@item.klas.ID" value="@item.klas.ID">@item.klas.KlasNaam</option>
                            }
                        </select>
                        </div>
                    </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FotoLeerling, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="file" value="FotoLeerling" accept="image/jpg, image/gif, image/png"  name="FotoLeerling" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Leerling wijzigen" class="btn btn-default" />
                            </div>
                        </div>
</div>
            }

            <div>
                @Html.ActionLink("Terug naar lijst", "Leerlingen")
            </div>
</div>
</div>
</div>